<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftMapkitProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04FDBAD5252E6C6300697BE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FDBAEE252E6C6700697BE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FDBAF9252E6C6700697BE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
